{% extends "layout.html" %}

{% block content %}
<center> 
    <div class="centered">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          {{message}}
          </div>
        {% endfor %}
        {% endif %}
      {% endwith %}
      <figure>
        <img src="/static/yolo.png" style="width:500px;height:300px;">
      </figure>
      <p><b>Upload an image...</b></p>
      <div class="upload-form">
        <form action = "/result/" method = "POST" enctype = "multipart/form-data">
            <input type = "file" class="btn btn-primary" name = "file" />
            <input type = "submit" class="btn btn-primary" value="Predict" />
        </form>
      </div>
    </div>
</center> 
{% endblock %}